<div class="navbar navbar-light bg-faded navbar-static-top">
  <div class="container">
    <div class="row pull-xs-right">
      <div class="col-sm-12">
        <%= current_user.username %>
        <%= image_tag current_user.image_url, class:"img-responsive", style:"width:2em" %>
        <%= link_to "Logout", "/logout" %>
      </div>
    </div>
  </div>
</div>
