<div class="row">
  <div class="col-md-12">
    Commits:
    <hr>
    <% @commit_history.each do |commit| %>
      <div class="row">
        <div class="col-sm-12">
          <a href="#">Pushed <%= pluralize commit[:total], "commit" %> to <%= commit[:repo] %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
