<div class="row" id="contributions">
  <div class="col-md-12">
    Contributions:
    <hr>
    <div class="row text-sm-center">
      <div class="col-md-4">
        <p>Last year:</p>
        <h4><%= @contributions[:total] %> total</h4>
      </div>
      <div class="col-md-4">
        <p>Longest streak:</p>
        <h4><%= @contributions[:longest] %> total</h4>
      </div>
      <div class="col-md-4">
        <p>Current streak:</p>
        <h4><%= @contributions[:current] %> total</h4>
      </div>
    </div>
  </div>
</div>
