<h2>Dashboard</h2>
<%#= binding.pry %>
<%= link_to "SuperTest", "/supertest" %>
<h2>Logged user: <%= current_user.username %> </h2>
<%= image_tag current_user.image_url %>
<br>
<%= link_to "Logout", "/logout" %>
