  <div class="row">
    <div class="col-md-3" id="person">
      <%= render "person" %>
    </div>
    <div class="col-md-9" id="general_data">
      <%= render "repos" %>
      <%= render "contributions" %>
      <%= render "commits" %>
    </div>
  </div>
