.wrapper{
  // background-color: yellow;
  padding: 1em;
}

#person {
  // background-color: gainsboro;
  padding: 1.5em;
  img{
    margin-bottom: 1em;
  }
  .stats{
    h2{color:blue;}
    p{font-size: 0.6em;}
  }
  hr{
    margin-left: -1em;
    margin-right: -1em;
    // margin-bottom: 0em;
    margin-top: 0em;
  }
}
